*__pycache__*
example_data/MNIST
zut.ipynb
wandb
*.out
*.bash
.idea
.vscode
/example_data/kirby.png
!/flax_exp/results/
/flax_exp/

example_data/*.ply
example_data/*.xyz

/example_data/
/DIV2K/
/DIV2K_grad/
/GTZAN/
/results
/synthetic_scenes
.vscode
synthetic_scenes.zip
/example_data
/results/plots/
/synthetic_scenes
/example_data/nerfdata
/synthetic_scenes.zip
/.vscode/settings.json
/.venv/
*.eqx

/reconstructed_audio.wav
/results
/factory_slurm
/factory_configs
wandb.login
example_slurm_script.bash
configs/example.yaml
configs/example2.yaml
