*__pycache__*
example_data/MNIST
zut.ipynb
wandb
*.out
/requirements.txt
.idea
/example_data/kirby.png
!/flax_exp/results/
/flax_exp/
/example_data/
/DIV2k/
/DIV2k_entropy_5p_25p/
/DIV2k_entropy_25p_75p/
/DIV2k_entropy_75p_95p/
/DIV2k_entropy_bottom_5p/
/DIV2k_entropy_top_5p/
/results
/synthetic_scenes
.vscode
synthetic_scenes.zip
/example_data